body {
  background-image: url(Images/bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  scroll-behavior: auto;
}

.footerimg {
 position: absolute;
 width: 10%;
 height: auto;
 bottom: 0px;
 right: 0px;
 opacity: 30%;
  
}

.Homeicon {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  border: white 3px;
  border-style: solid;
  z-index: 2;
}

.particles {
  position: fixed;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}